#include <windows.h>

// Win32 application icon.
#define IDI_APPICON                     101
IDI_APPICON ICON                        "sfnedit.ico"

// Executable version information.
VS_VERSION_INFO    VERSIONINFO
FILEVERSION        2,0,0,0
PRODUCTVERSION     2,0,0,0
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
FILEFLAGS        0
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"
    BEGIN
      VALUE "CompanyName", "bzt@gitlab"
      VALUE "FileDescription", "Scalable Screen Font Editor"
      VALUE "FileVersion", "2.0.0.0"
      VALUE "InternalName", "Win32App"
      VALUE "LegalCopyright", "©2020 bztsrc@gitlab"
      VALUE "OriginalFilename", "sfnedit.exe"
      VALUE "ProductName", "SFNEdit"
      VALUE "ProductVersion", "2.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1200
  END
END
